body {
  font-family: "Rubik";
}

.daily_card {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 10px 0 10px 10px;
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
  font-family: "Rubik";
}
.daily_text h2 {
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--article-background-color);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  /* border: 1px solid var(--border-color); */
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--news-background-color-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  margin-top: 10px;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  font-family: var(--headline-font);
  font-size: var(--headline3-size);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  /* margin: 0 0 1rem 0; */
}

.news_card:first-child .cta_btn {
  background-color: #ffa680;
  border: #ffa680;
  width: 200px;
  height: 50px;
  margin: 30px;
}

.news_card:last-child .cta_btn {
  background-color: #ffa680;
  border: #ffa680;
  width: 200px;
  height: 50px;
  margin: 30px;
}

.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card:nth-child(2n) .cta_btn {
  background-color: #6f90eb;
  border-color: #6f90eb;
  width: 200px;
  height: 50px;
  margin: 30px;
}

.news_card .cta_btn {
  justify-self: center;
}

dialog {
  background-color: #dbe2f5;
  border-radius: 2rem;
}

::backdrop {
  backdrop-filter: blur(15px);
}

.close-dialog {
  width: 150px;
  padding: 0.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: right;
  background-color: #ff4b00;
  font-family: "Rubik";
  color: #fffae2;
  font-size: 1.25rem;
  border: 0;
}

.cta_btn {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--followup-text-bg-color);
  color: var(--followup-text-color);
  text-align: center;
  text-decoration: none;
  width: max-content;
  font-size: 1.25rem;
}

.daily_card .cta_btn {
  width: 200px;
  padding: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: right;
  background-color: #ff4b00;
  font-family: "Rubik";
  color: #fffae2;
  font-size: 1.25rem;
  border: 0;
}

.daily_card h2 {
  margin-top: 15px;
}

.cta_btn:after {
  content: "\2192";
  margin-left: 0.5rem;
}

.daily_card img {
  width: 200px;
  height: 200px;
}

.news_card img {
  width: 300px;
  height: 200px;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
}
